## Data preparation

This dataset contains ESC final results from 1956 to 2022.

This notebook cleans the data and replaces categorical values with numeric ones and then applies machine learning to created dataset.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('mode.chained_assignment', None)

Read in data from csv file

In [2]:
data = pd.read_csv("../data/ESCDB2.csv", sep=";", encoding="latin-1")

# Removing potential unneccesary spaces from dataframe columns
for column in data.select_dtypes(include='object'):
    data[column] = data[column].str.strip()

# Dropping duplicate column "songid"
data.drop('songid', axis=1)

# Dropping 1956 contest result, since no points/places were awarded except the winner
# Simply dropping this data should not affect the results because the contest was nothing like the 
# current and the points system was also different beyond recognition
data = data.drop(data[data['Year'] == 1956].index)

# Replacing "Macedonia" with "North Macedonia", since the country changed its name
data["Country"] = data["Country"].replace("Macedonia", "North Macedonia")

data

,song_id,Year,Order,Country,Singer,Title,Points,Place,in_english,songid,lovementions,population
14,15,1957,1,Belgium,Bobbejaan Schoepen,Straatdeuntje,5,8,False,15,0,11350000
15,16,1957,2,Luxembourg,DaniÃ¨le DuprÃ©,Tant De Peine,8,5,False,16,5,590667
16,17,1957,3,United Kingdom,Patricia Bredin,All,6,7,True,17,1,66020000
17,18,1957,4,Italy,Nunzio Gallo,Corde Della Mia Chitarra,7,6,False,18,0,60590000
18,19,1957,5,Austria,Bob Martin,Wohin Kleines Pony,3,10,False,19,0,8773000
...,...,...,...,...,...,...,...,...,...,...,...,...
1368,1369,2022,21,Australia,Sheldon Riley,Not the Same,125,15,True,1369,0,24600000
1369,1370,2022,22,United Kingdom,Sam Ryder,Space Man,466,2,True,1370,0,66020000
1370,1371,2022,23,Poland,Ochman,River,151,12,True,1371,0,37970000
1371,1372,2022,24,Serbia,Konstrakta,In corpore sano,312,5,False,1372,0,7240000
1372,1373,2022,25,Estonia,Stefan,Hope,141,13,True,1373,0,1316000

Making era column based on years:

- years 1957-1986 -> 0 (very old contests)
- years 1987-1999 -> 1 (roughly after soviet union collapse)
- years 2000-2013 -> 2 (prior to invasion of ukraine)
- years 2014-2022 -> 3 (modern era of the contest)

In [3]:
def era(row):
    if row["Year"] >= 1957 and row["Year"] <= 1986:
        return 0
    if row["Year"] >= 1987 and row["Year"] <= 1999:
        return 1
    if row["Year"] >= 2000 and row["Year"] <= 2013:
        return 2
    if row["Year"] >= 2014 and row["Year"] <= 2022:
        return 3
    
data["Era"] = data.apply(lambda row: era(row), axis = 1)

Making country column numeric

In [4]:
countries = data["Country"].unique()
countries.sort()

countries_to_numbers = {}

for i in range(len(countries)):
    countries_to_numbers[countries[i]] = i

data["Country"] = data["Country"].map(countries_to_numbers)

Making the singer column numeric

This will be a boolean value:
* **0** if the singer has only performed once in ESC
* **1** if the singer has performed multiple times in ESC

In [5]:
data["Singer"] = data["Singer"].map(lambda x: 0 if data["Singer"].value_counts()[x] == 1 else 1)

Making title column numeric.

We are extracting two attributes:
* 1 if song title included word "Love" 0 otherwise
* 1 if song title is more than 1 word, 0 otherwise

In [6]:
data["love_in_title"] = data["Title"].map(lambda x: 1 if 'love' in x.lower() else 0)

In [7]:
data["Title"] = data["Title"].map(lambda x: len(x.split()))
data = data.rename(columns={"Title" : "title_word_count"})

Making "in_english" column numeric.

In [8]:
data["in_english"] = data["in_english"].map(lambda x: 1 if x else 0)

In [9]:
# display out the result
data

,song_id,Year,Order,Country,Singer,title_word_count,Points,Place,in_english,songid,lovementions,population,Era,love_in_title
14,15,1957,1,6,0,1,5,8,0,15,0,11350000,0,0
15,16,1957,2,26,0,3,8,5,0,16,5,590667,0,0
16,17,1957,3,49,0,1,6,7,1,17,1,66020000,0,0
17,18,1957,4,23,0,4,7,6,0,18,0,60590000,0,0
18,19,1957,5,3,0,3,3,10,0,19,0,8773000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,1369,2022,21,2,0,3,125,15,1,1369,0,24600000,3,0
1369,1370,2022,22,49,0,2,466,2,1,1370,0,66020000,3,0
1370,1371,2022,23,35,0,1,151,12,1,1371,0,37970000,3,0
1371,1372,2022,24,40,0,3,312,5,0,1372,0,7240000,3,0
1372,1373,2022,25,13,0,1,141,13,1,1373,0,1316000,3,0

---

In [10]:
# unneccesary column
data = data.drop('song_id', axis=1)

# not needed
place_data = data['Place']
print(place_data)
data = data.drop(columns=['Place'], axis=1)

14       8
15       5
16       7
17       6
18      10
        ..
1368    15
1369     2
1370    12
1371     5
1372    13
Name: Place, Length: 1359, dtype: int64

## Imports and functions needed later

In [11]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn import neighbors
from sklearn.utils._testing import ignore_warnings
from sklearn.exceptions import ConvergenceWarning
import warnings
warnings.filterwarnings("ignore")

In [12]:
def average(list):
  sum = 0
  for num in list:
    sum += num

  return sum / len(list)

def top10accuracy(result):
    real_top10 = []
    pred_top10 = []
    o = 0
    for i in range(10):
        o+=1
        real_top10.append(result.loc[result['actual_place'] == o, 'Country'].iloc[0])
        pred_top10.append(result.loc[result['pred_place'] == o, 'Country'].iloc[0])
    #Create a counter for the number of elements that match
    accuracy_count = 0
    #Loop through both lists and check if the elements are equal and have the same index
    for country in pred_top10:
        if country in real_top10:
            accuracy_count += 1
    #Calculate the accuracy of the two lists
    accuracy = accuracy_count/len(real_top10)
    print("quessed top 10 countries with", accuracy*100, "% accuracy")
    return accuracy

def top3accuracy(result):
    real_top3 = []
    pred_top3 = []
    o = 0
    for i in range(3):
        o+=1
        real_top3.append(result.loc[result['actual_place'] == o, 'Country'].iloc[0])
        pred_top3.append(result.loc[result['pred_place'] == o, 'Country'].iloc[0])
    #Create a counter for the number of elements that match
    accuracy_count = 0
    #Loop through both lists and check if the elements are equal and have the same index
    for country in pred_top3:
        if country in real_top3:
            accuracy_count += 1
    #Calculate the accuracy of the two lists
    accuracy = accuracy_count/len(real_top3)
    print("quessed top 3 countries with", accuracy*100, "% accuracy")
    
    return accuracy

In [13]:
def evaluate(y_pred, X_test, countries_to_numbers, classifier_name, X_test_points):
    numbers_to_countries = dict((v, k) for k, v in countries_to_numbers.items())

    result = X_test.iloc[:, [2, 5]]

    result["Country"] = result["Country"].map(numbers_to_countries)
    result = result.assign(Predicted=list(y_pred))

    result = result.sort_values("Predicted", ascending=False)
    result = result.assign(pred_place=range(1, len(result) + 1))
    
    result['Points'] = X_test_points

    result = result.sort_values("Points", ascending=False)
    result = result.assign(actual_place=range(1, len(result) + 1))

    result["correct"] = abs(result["pred_place"] - result["actual_place"])
    result["correct"] = result["correct"].apply(lambda x: x <= 0)

    print(classifier_name, "classifiers results were:")
    #print(result)
    score = result["correct"].value_counts("True")

    print(score)
    top10acc = top10accuracy(result)
    top3acc = top3accuracy(result)
    return score, top3acc, top10acc

In [14]:
def importantFeatures(classifier):
    # Get the feature importances from the trained model
    importances = classifier.feature_importances_

    # Sort the feature importances in descending order
    sorted_importances = sorted(importances, reverse=True)

    # Print the least important features
    least_important_feature = sorted_importances[-1:][0]
    most_important_feature = sorted_importances[0]
    attributes = list(data)
    s = sorted(zip(importances, attributes), reverse=True)
    print(get_other_part(s, least_important_feature), "was the least important feature")
    print(get_other_part(s, most_important_feature), "was the most important feature")

In [15]:
@ignore_warnings(category=ConvergenceWarning)
def trainAndTest(classifier, classifier_name, years_to_predict, data):
    scores = []
    top3accs = []
    top10accs = []
    
    for year_to_predict in years_to_predict:
        y = data.iloc[:, [0, 5]] # year | points

        # trying to predict 2018
        y_train = y[y["Year"] != year_to_predict]["Points"] # y_train
        y_test = y[y["Year"] == year_to_predict]["Points"]  # y_test

        X_train = data[data["Year"] != year_to_predict]     # X_train
        X_test = data[data["Year"] == year_to_predict]      # X_test
        
        X_train_points = X_train['Points']                  #keep points
        X_test_points = X_test['Points']                    #keep points
        
        X_train = X_train.drop(columns=['Points'])
        X_test = X_test.drop(columns=['Points'])

        classifier.fit(X_train, y_train)
            
        y_pred = classifier.predict(X_test)
        
        print(year_to_predict, "results:")
        score, top3acc, top10acc = evaluate(y_pred, X_test, countries_to_numbers, classifier_name, X_test_points)
        scores.append(score)
        top3accs.append(top3acc)
        top10accs.append(top10acc)
        
    average_score = average(scores)
    average_top3acc = average(top3accs)
    average_top10acc = average(top10accs)
    
    if classifier_name == "Random Forest":
        importantFeatures(classifier)
    
    print(classifier_name)
    print("average accuracy for certain countries place was:", average_score)
    print("average top10accuracy was:", average_top10acc)
    print("average top3accuracy was:", average_top3acc)
    
    return average_score, average_top3acc, average_top10acc

In [16]:
def most_frequent(strings):
  # Create a dictionary to keep track of the number of occurrences of each string
  counts = {}

  # Iterate over the list of strings
  for string in strings:
    # If the string is not in the dictionary, add it with a count of 1
    if string not in counts:
      counts[string] = 1
    # Otherwise, increment the count for that string
    else:
      counts[string] += 1

  # Find the string with the highest count
  most_frequent_string = None
  highest_count = 0
  for string, count in counts.items():
    if count > highest_count:
      most_frequent_string = string
      highest_count = count

  return most_frequent_string

In [17]:
def get_other_part(duples, part):
  # Iterate over the list of duples
  for duple in duples:
    # If the duple contains the given part, return the other part
    if part in duple:
      return [x for x in duple if x != part][0]

  # If no duple contains the given part, return None
  return None

In [18]:
def factorial(n):
  # If n is less than or equal to 1, return 1
  if n <= 1:
    return 1

  # Otherwise, return the product of n and the factorial of n-1
  return n * factorial(n-1)

## Creating, training and testing classifiers

In [19]:
years_to_predict = [1987, 1996, 2001, 2016, 2017, 2018, 2019, 2021, 2022]


classifier1 = neighbors.KNeighborsClassifier(n_neighbors = 5)
classifier1_name = "KNN"
classifier2 = RandomForestClassifier()
classifier2_name = "Random Forest"
classifier3 = SVC(kernel="rbf")
classifier3_name = "SVM(rbf)"
classifier4 = Lasso() # SEE ANNAB 100% õiged?
classifier4_name = "Lasso"
classifier5 = Ridge() # ka 100% õiged?
classifier5_name = "Ridge"

classifiers = [classifier1, classifier2, classifier3, classifier4, classifier5]
classifier_names = [classifier1_name, classifier2_name, classifier3_name, classifier4_name, classifier5_name]

datasets = []

for i in range(len(classifiers)):
    data2 = data
    datasets.append(data2)

average_across_score = []
average_across_top3acc = [] 
average_across_top10acc = []

for i in range(len(classifiers)):
    average_score, average_top3acc, average_top10acc = trainAndTest(classifiers[i], classifier_names[i], years_to_predict, datasets[i])
    average_across_score.append(average_score)
    average_across_top3acc.append(average_top3acc)
    average_across_top10acc.append(average_top10acc)

average_across_score = average(average_across_score)
average_across_top3acc = average(average_across_top3acc)
average_across_top10acc = average(average_across_top10acc)

print("\n")
print("averages across all models:")
print("1) average score:", average_across_score)
print("2) average top 10 accuracy:", average_across_top10acc)
print("3) average top 3 accuracy:", average_across_top3acc)

1987 results:
KNN classifiers results were:
False    0.909091
True     0.090909
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
1996 results:
KNN classifiers results were:
False    0.913043
True     0.086957
Name: correct, dtype: float64
quessed top 10 countries with 60.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2001 results:
KNN classifiers results were:
False    0.956522
True     0.043478
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2016 results:
KNN classifiers results were:
False    0.846154
True     0.153846
Name: correct, dtype: float64
quessed top 10 countries with 60.0 % accuracy
quessed top 3 countries with 66.66666666666666 % accuracy
2017 results:
KNN classifiers results were:
False    0.923077
True     0.076923
Name: correct, dtype: float64
quessed top 10 countries with 80.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2018 results:
KNN classifiers results were:
False    0.923077
True     0.076923
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2019 results:
KNN classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 70.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2021 results:
KNN classifiers results were:
False    0.923077
True     0.076923
Name: correct, dtype: float64
quessed top 10 countries with 30.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2022 results:
KNN classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
KNN
average accuracy for certain countries place was: False    0.928398
True          NaN
Name: correct, dtype: float64
average top10accuracy was: 0.5444444444444444
average top3accuracy was: 0.25925925925925924
1987 results:
Random Forest classifiers results were:
False    0.909091
True     0.090909
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
1996 results:
Random Forest classifiers results were:
False    0.869565
True     0.130435
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 66.66666666666666 % accuracy
2001 results:
Random Forest classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2016 results:
Random Forest classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2017 results:
Random Forest classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2018 results:
Random Forest classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 30.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2019 results:
Random Forest classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2021 results:
Random Forest classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2022 results:
Random Forest classifiers results were:
False    0.96
True     0.04
Name: correct, dtype: float64
quessed top 10 countries with 30.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
Era was the least important feature
in_english was the most important feature
Random Forest
average accuracy for certain countries place was: False    0.949594
True          NaN
Name: correct, dtype: float64
average top10accuracy was: 0.4333333333333333
average top3accuracy was: 0.2222222222222222
1987 results:
SVM(rbf) classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 60.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
1996 results:
SVM(rbf) classifiers results were:
False    0.956522
True     0.043478
Name: correct, dtype: float64
quessed top 10 countries with 20.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2001 results:
SVM(rbf) classifiers results were:
False    0.956522
True     0.043478
Name: correct, dtype: float64
quessed top 10 countries with 70.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2016 results:
SVM(rbf) classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2017 results:
SVM(rbf) classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2018 results:
SVM(rbf) classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2019 results:
SVM(rbf) classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 60.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2021 results:
SVM(rbf) classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2022 results:
SVM(rbf) classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
SVM(rbf)
average accuracy for certain countries place was: False    0.986065
Name: correct, dtype: float64
average top10accuracy was: 0.47777777777777775
average top3accuracy was: 0.2222222222222222
1987 results:
Lasso classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
1996 results:
Lasso classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 30.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2001 results:
Lasso classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 60.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2016 results:
Lasso classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 30.0 % accuracy
quessed top 3 countries with 66.66666666666666 % accuracy
2017 results:
Lasso classifiers results were:
False    0.923077
True     0.076923
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2018 results:
Lasso classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2019 results:
Lasso classifiers results were:
False    0.884615
True     0.115385
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2021 results:
Lasso classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2022 results:
Lasso classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
Lasso
average accuracy for certain countries place was: False    0.970085
Name: correct, dtype: float64
average top10accuracy was: 0.4444444444444444
average top3accuracy was: 0.25925925925925924
1987 results:
Ridge classifiers results were:
False    0.863636
True     0.136364
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 66.66666666666666 % accuracy
1996 results:
Ridge classifiers results were:
False    1.0
Name: correct, dtype: float64

quessed top 10 countries with 30.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2001 results:
Ridge classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 60.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2016 results:
Ridge classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 30.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2017 results:
Ridge classifiers results were:
False    0.923077
True     0.076923
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2018 results:
Ridge classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2019 results:
Ridge classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 50.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
2021 results:
Ridge classifiers results were:
False    0.961538
True     0.038462
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 0.0 % accuracy
2022 results:
Ridge classifiers results were:
False    1.0
Name: correct, dtype: float64
quessed top 10 countries with 40.0 % accuracy
quessed top 3 countries with 33.33333333333333 % accuracy
Ridge
average accuracy for certain countries place was: False    0.967754
True          NaN
Name: correct, dtype: float64
average top10accuracy was: 0.4333333333333333
average top3accuracy was: 0.2222222222222222


averages across all models:
1) average score: False    0.960379
True          NaN
Name: correct, dtype: float64
2) average top 10 accuracy: 0.4666666666666666
3) average top 3 accuracy: 0.23703703703703702

The least important feature was era and the most important feature was in_english